<div class="row text-layout m-3">
  <h2>{{ title }}</h2>
  <hr />
  <button
    pButton
    pRipple
    type="button"
    label="Order By Mastery"
    class="p-button-outlined"
    style="margin: 10px"
    (click)="orderByMastery()"
  ></button>
  <button
    pButton
    type="button"
    label="Order By Last Play Time"
    class="p-button-outlined"
    style="margin: 10px 10px 20px 10px"
    (click)="orderByLastPlayTime()"
  ></button>

  <app-champion-grid [championsDetails]="championsDetails"></app-champion-grid>
</div>
